---
layout: default
prism: true
---

<div class="container max-w-4xl mt-6 px-6 pb-20"> 
    <div class="pb-5 mb-5 border-b border-gray-100">
        <h1 class="font-bold text-5xl">{{title}}</h1>
    </div>
    <article class="prose lg:prose-xl my-4 mx-auto">
        <div class="project-info flex items-top flex-col md:flex-row">
            <div class="project-label basis-1/3 pr-3 md:text-right">
                <p>Numer projektu: </p>
            </div>
            <div class="project-data basis-2/3">
                <p>{{ number }}</p>
            </div>
        </div>
        <div class="project-info flex items-top flex-col md:flex-row">
            <div class="project-label basis-1/3 pr-3 md:text-right">
                <p>Lider projektu:</p>
            </div>
            <div class="project-data basis-2/3">
                <p>{{ leader }}</p>
            </div>
        </div>
        <div class="project-info flex items-top flex-col md:flex-row">
            <div class="project-label basis-1/3 pr-3 md:text-right">
                <p>Partnerzy projektu:</p>
            </div>
            <div class="project-data basis-2/3">
                {{ partners | md | safe }}
            </div>
        </div>
        <div class="project-info flex items-top flex-col md:flex-row">
            <div class="project-label basis-1/3 pr-3 md:text-right">
                <p>Opis projektu:</p>
            </div>
            <div class="project-data basis-2/3">
                {{ description | md | safe }}
            </div>
        </div>
        <div class="project-info flex items-top flex-col md:flex-row">
            <div class="project-label basis-1/3 pr-3 md:text-right">
                <p>Źródło finansowania:</p>
            </div>
            <div class="project-data basis-2/3">
                {{ funding_source | md | safe }}
            </div>
        </div>
        <div class="project-info flex items-top flex-col md:flex-row">
            <div class="project-label basis-1/3 pr-3 md:text-right">
                <p>Data rozpoczęcia projektu:</p>
            </div>
            <div class="project-data basis-2/3">
                <p>{{ start_date }}</p>
            </div>
        </div>
        <div class="project-info flex items-top flex-col md:flex-row">
            <div class="project-label basis-1/3 pr-3 md:text-right">
                <p>Data zakończenia projektu:</p>
            </div>
            <div class="project-data basis-2/3">
                <p>{{ end_date }}</p>
            </div>
        </div>
        <div class="project-info flex items-top flex-col md:flex-row">
            <div class="project-label basis-1/3 pr-3 md:text-right">
                <p>Cel projektu:</p>
            </div>
            <div class="project-data basis-2/3">
                <p>{{ goal | md |safe }}</p>
            </div>
        </div>
        <div class="project-info flex items-top flex-col md:flex-row">
            <div class="project-label basis-1/3 pr-3 md:text-right">
                <p>Grupa docelowa projektu:</p>
            </div>
            <div class="project-data basis-2/3">
                <p>{{ target_group | md |safe }}</p>
            </div>
        </div>
        <div class="project-info flex items-top flex-col md:flex-row">
            <div class="project-label basis-1/3 pr-3 md:text-right">
                <p>Formy wsparcia:</p>
            </div>
            <div class="project-data basis-2/3">
                <p>{{ forms_of_support | md |safe }}</p>
            </div>
        </div>
        <div class="project-info flex items-top flex-col md:flex-row">
            <div class="project-label basis-1/3 pr-3 md:text-right">
                <p>Wartość projektu:</p>
            </div>
            <div class="project-data basis-2/3">
                <p>{{ project_value | md |safe }}</p>
            </div>
        </div>
        <div class="project-info flex items-top flex-col md:flex-row">
            <div class="project-label basis-1/3 pr-3 md:text-right">
                <p>Wartość dofinansowania:</p>
            </div>
            <div class="project-data basis-2/3">
                <p>{{ funding_value | md |safe }}</p>
            </div>
        </div>
        <div class="project-info flex items-top flex-col md:flex-row">
            <div class="project-label basis-1/3 pr-3 md:text-right">
                Dokumenty:
            </div>
            <div class="project-data basis-2/3 align-top not-prose">
            <ul class="list-none">
                {% for doc in documents %}
                    <li>
                        <a class="no-underline hover:underline" href="{{ doc.url }}" target="_blank">
                            <img class="inline m-0" src="/static/img/icon.svg" width="30" height="30" alt="{{ doc.name }}" title="{{ doc.name }}"> {{ doc.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            </div>
        </div>
        <hr/>
        <div class="logos not-prose m-0 p-0 flex flex-wrap justify-center content-center">
                {% for logo in partner_logos %}
                    <img class="m-2" src="{{ logo }}" width="200" height="200">
                {% endfor %}
            </ul>
        </div>
        
    </article>

</div>