---
layout: default
prism: true
---

<div class="container max-w-4xl mt-6 px-6 pb-20"> 
    <div class="pb-5 mb-5 border-b border-gray-100">
        <h1 class="font-bold text-4xl">{{title}}</h1>
    </div>
    <article class="prose lg:prose-xl my-4 mx-auto">
        {% if number %}
            <div class="project-info flex items-top flex-col md:flex-row">
                <div class="project-label basis-1/3 pr-3 md:text-right">
                    <p><strong>Numer projektu:</strong></p>
                </div>
            <div class="project-data basis-2/3">
                <p>{{ number }}</p>
            </div>
        </div>
        {% endif %}
        {% if leader %}
        <div class="project-info flex items-top flex-col md:flex-row">
            <div class="project-label basis-1/3 pr-3 md:text-right">
                <p><strong>Lider projektu:</strong></p>
            </div>
            <div class="project-data basis-2/3">
                <p>{{ leader }}</p>
            </div>
        </div>
        {% endif %}
        {% if partners %}
        <div class="project-info flex items-top flex-col md:flex-row">
            <div class="project-label basis-1/3 pr-3 md:text-right">
                <p><strong>Partnerzy projektu:</strong></p>
            </div>
            <div class="project-data basis-2/3">
                {{ partners | md | safe }}
            </div>
        </div>
        {% endif %}
        {% if description %}
        <div class="project-info flex items-top flex-col md:flex-row">
            <div class="project-label basis-1/3 pr-3 md:text-right">
                <p><strong>Opis projektu:</strong></p>
            </div>
            <div class="project-data basis-2/3">
                {{ description | md | safe }}
            </div>
        </div>
        {% endif %}
        {% if funding_source %}
        <div class="project-info flex items-top flex-col md:flex-row">
            <div class="project-label basis-1/3 pr-3 md:text-right">
                <p><strong>Źródło finansowania:</strong></p>
            </div>
            <div class="project-data basis-2/3">
                {{ funding_source | md | safe }}
            </div>
        </div>
        {% endif %}
        {% if start_date %}
        <div class="project-info flex items-top flex-col md:flex-row">
            <div class="project-label basis-1/3 pr-3 md:text-right">
                <p><strong>Data rozpoczęcia projektu:</strong></p>
            </div>
            <div class="project-data basis-2/3">
                <p>{{ start_date }}</p>
            </div>
        </div>
        {% endif %}
        {% if end_date %}
        <div class="project-info flex items-top flex-col md:flex-row">
            <div class="project-label basis-1/3 pr-3 md:text-right">
                <p><strong>Data zakończenia projektu:</strong></p>
            </div>
            <div class="project-data basis-2/3">
                <p>{{ end_date }}</p>
            </div>
        </div>
        {% endif %}
        {% if goal %}
        <div class="project-info flex items-top flex-col md:flex-row">
            <div class="project-label basis-1/3 pr-3 md:text-right">
                <p><strong>Cel projektu:</strong></p>
            </div>
            <div class="project-data basis-2/3">
                <p>{{ goal | md |safe }}</p>
            </div>
        </div>
        {% endif %}
        {% if target_group %}
        <div class="project-info flex items-top flex-col md:flex-row">
            <div class="project-label basis-1/3 pr-3 md:text-right">
                <p><strong>Grupa docelowa projektu:</strong></p>
            </div>
            <div class="project-data basis-2/3">
                <p>{{ target_group | md |safe }}</p>
            </div>
        </div>
        {% endif %}
        {% if forms_of_support %}
        <div class="project-info flex items-top flex-col md:flex-row">
            <div class="project-label basis-1/3 pr-3 md:text-right">
                <p><strong>Formy wsparcia:</strong></p>
            </div>
            <div class="project-data basis-2/3">
                <p>{{ forms_of_support | md |safe }}</p>
            </div>
        </div>
        {% endif %}
        {% if project_value %}
        <div class="project-info flex items-top flex-col md:flex-row">
            <div class="project-label basis-1/3 pr-3 md:text-right">
                <p><strong>Wartość projektu:</strong></p>
            </div>
            <div class="project-data basis-2/3">
                <p>{{ project_value | md |safe }}</p>
            </div>
        </div>
        {% endif %}
        {% if funding_value %}
        <div class="project-info flex items-top flex-col md:flex-row">
            <div class="project-label basis-1/3 pr-3 md:text-right">
                <p><strong>Wartość dofinansowania:</strong></p>
            </div>
            <div class="project-data basis-2/3">
                <p>{{ funding_value | md |safe }}</p>
            </div>
        </div>
        {% endif %}
        {% if documents %}
        <div class="project-info flex items-top flex-col md:flex-row">
            <div class="project-label basis-1/3 pr-3 md:text-right">
                <strong>Dokumenty:</strong>
            </div>
            <div class="project-data basis-2/3 align-top not-prose">
            <ul class="list-none">
                {% for doc in documents %}
                    <li>
                        <a class="no-underline hover:underline" href="{{ doc.url }}" target="_blank">
                            <img class="inline m-0" src="/static/img/icon.svg" width="30" height="30" alt="{{ doc.name }}" title="{{ doc.name }}"> <small>{{ doc.name }}</small>
                        </a>
                    </li>
                {% endfor %}
            </ul>
            </div>
        </div>
        {% endif %}
        {% if partner_logos %}
        <hr/>
        <div class="logos bg-white shadow-lg rounded-lg not-prose m-0 p-8 flex flex-wrap justify-center content-center">
                {% for logotype in partner_logos %}
                    <img class="m-2 max-h-28" src="{{ logotype.logo }}" width="200" height="112">
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </article>

</div>