@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/

body {
  width: 100vw;
  height: 100%;
  position: relative;
  padding-top: 64px;
}
.wave {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/static/img/wave2.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
  z-index: -100;
}

h1 {
  @apply text-4xl tracking-tighter mb-3 text-center lg:text-7xl;
}

h2 {
  @apply text-3xl font-bold mt-3 mb-3 text-center;
}
h3 {
  @apply text-2xl font-bold mt-3 mb-3 text-center;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

pre {
  height: 100vh;
}

ol {
  list-style-type: decimal;
}

ol[type="a"] {
  counter-reset: list;
  text-indent: -1.25rem;
  padding-left: 1.75rem;
}
ol[type="a"] > li {
  list-style: none;
}
ol[type="a"] > li:before {
  content: counter(list, lower-alpha) ") ";
  counter-increment: list;
  display: inline;
}